// GOOGLE FONTS POPPINS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #34495e;
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
  position: fixed;
  top: 25px;
  right: 30px;
  width: 350px;
  :where(.notification, div) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .notification {
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    background-color: #fff;
    padding: 8px 10px 8px 16px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    animation: intro 0.3s linear;
    margin-bottom: 20px;
    @keyframes intro {
      0% {
        transform: translateX(100%);
      }
      25% {
        transform: translateX(-10px);
      }
      50% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(-10px);
      }
    }
    .content {
      gap: 10px;

      svg {
        width: 20px;
      }
    }

    .cancel {
      cursor: pointer;
      color: rgb(116, 107, 107);
      transition: 0.3s;
    }
    .cancel:hover {
      color: rgba(0, 0, 0, 1);
    }

    &::before {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: timer 5s linear;
    }
    @keyframes timer {
      100% {
        width: 0;
      }
    }
  }
}


.notification.hide{
    animation: outro .1s forwards;
}

@keyframes outro {
    
    
    100%{
        transform: translateX(calc(100% + 30px));
    }
}


.buttons{
    display: flex;
    gap: 30px;
    button{
        color:white;
        width: 150px;
        height: 50px;
        font-size: 20px;
        font-weight: 200;
        border: none;
        outline: none;
        cursor: pointer;
        border-bottom: 4px solid transparent;
        transition: .3s;
        border-radius: 8px;
        &:hover{
            box-shadow: 0px  0px 100px rgba(0, 0, 0, 1);
            animation: btnanimation .5s forwards;
        }

        @keyframes btnanimation {
            100%{
                transform: translateY(2px);
            }
        }
    }
    
}


button#success , .notification#success::before{
    background-color: #0abf30;
}

button#error , .notification#error::before{
    background-color: #e24d4c;
}
button#info , .notification#info::before{
    background-color: #3498db;
}
button#warning , .notification#warning::before{
    background-color: #e9bd0c;
}